.addNewBtn {
  background-color: #000000;
  color: #fff;
  border-radius: 25px;
  padding: 10px;
}

.airportOuterContainer {
  padding: 25px;

  margin-left: 250px; /* Same width as the sidebar */
  flex: 1;
  margin-top: 72px;

  max-height: 100vh;
}

.airportTopContainer {
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.checkBoxBtn {
  width: 10px;
  height: 10px;
  padding: 10px;
}

.activeForm {
  display: block;
}
.notActiveForm {
  display: none;
}

.icon {
  cursor: pointer;
  display: inline;
  z-index: 0;
}

@media (max-width: 786px) {
  .airportOuterContainer {
    position: static;
    padding: 0px;
    margin: 0px;
    padding-top: 10px;
    font-size: 10px;
    overflow: auto;
    width: 100%;
  }
}
